.header {
  /* background-color: #ffa5d5; */
  width: 100%;
  /* padding: 20px 5%; */
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
