.header {
  width: 100%;
  /* min-height: 100vh; */
  padding: 40px 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: antiquewhite; */
}

.logo {
  font-size: 24px;
  position: absolute;
  left: 60px;
  /* background-color: red; */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.5px;
  position: absolute;
  right: 15%;
}

.menu_btn {
  font-size: 15px;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    left: 30px;
  }

  .menu {
    display: none;
  }
}
